--
-- PostgreSQL database dump
--

\restrict 2pK1mdf9YLEwNUR4S7Hxibc5LRbJwjJmb4p21yB5SKh8K9uRkjcN4QiS0jtThRd

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: log_action; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.log_action (
    id integer NOT NULL,
    user_id integer,
    store_id character varying(50) NOT NULL,
    username character varying(100),
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    action character varying(50) NOT NULL,
    granted_denied character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    device_id character varying(50) DEFAULT 'AS608_001'::character varying,
    sensor_location character varying(20) DEFAULT 'unknown'::character varying
);


ALTER TABLE public.log_action OWNER TO postgres;

--
-- Name: action_logs; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.action_logs AS
 SELECT la.id,
    la.user_id,
    la.store_id,
    la.username,
    la."timestamp",
    la.action,
    la.granted_denied,
    la.device_id,
    la.sensor_location,
        CASE
            WHEN ((la.granted_denied)::text = 'granted'::text) THEN 'success'::text
            WHEN ((la.granted_denied)::text = 'denied'::text) THEN 'danger'::text
            ELSE 'warning'::text
        END AS status_class,
        CASE
            WHEN ((la.device_id)::text = 'AS608_001'::text) THEN 'Pintu Masuk'::character varying
            WHEN ((la.device_id)::text = 'AS608_002'::text) THEN 'Pintu Keluar'::character varying
            ELSE COALESCE(la.sensor_location, 'Unknown'::character varying)
        END AS location_display
   FROM public.log_action la
  ORDER BY la."timestamp" DESC;


ALTER TABLE public.action_logs OWNER TO postgres;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance (
    id integer NOT NULL,
    user_id integer NOT NULL,
    username character varying(100),
    attendance_date date NOT NULL,
    clock_in timestamp without time zone,
    clock_out timestamp without time zone,
    first_granted timestamp without time zone NOT NULL,
    last_granted timestamp without time zone NOT NULL,
    total_granted integer DEFAULT 1,
    device_id_in character varying(50),
    device_id_out character varying(50),
    sensor_location_in character varying(20),
    sensor_location_out character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.attendance OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.attendance_id_seq OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_id_seq OWNED BY public.attendance.id;


--
-- Name: attendance_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.attendance_summary AS
 SELECT a.id,
    a.user_id,
    a.username,
    a.attendance_date,
    a.clock_in,
    a.clock_out,
    a.first_granted AS first_access,
    a.last_granted AS last_access,
    a.total_granted,
    a.device_id_in,
    a.device_id_out,
    a.sensor_location_in,
    a.sensor_location_out,
        CASE
            WHEN ((a.clock_in IS NOT NULL) AND (a.clock_out IS NOT NULL)) THEN (date_part('epoch'::text, (a.clock_out - a.clock_in)) / (3600)::double precision)
            ELSE NULL::double precision
        END AS hours_worked,
        CASE
            WHEN ((a.device_id_in)::text = 'AS608_001'::text) THEN 'Pintu Masuk'::character varying
            WHEN ((a.device_id_in)::text = 'AS608_002'::text) THEN 'Pintu Keluar'::character varying
            ELSE COALESCE(a.sensor_location_in, 'Unknown'::character varying)
        END AS location_in_display,
        CASE
            WHEN ((a.device_id_out)::text = 'AS608_001'::text) THEN 'Pintu Masuk'::character varying
            WHEN ((a.device_id_out)::text = 'AS608_002'::text) THEN 'Pintu Keluar'::character varying
            ELSE COALESCE(a.sensor_location_out, 'Unknown'::character varying)
        END AS location_out_display
   FROM public.attendance a
  ORDER BY a.attendance_date DESC, a.user_id;


ALTER TABLE public.attendance_summary OWNER TO postgres;

--
-- Name: log_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.log_data (
    id integer NOT NULL,
    user_id integer,
    store_id character varying(50) NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    finger_template_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    device_id character varying(50) DEFAULT 'AS608_001'::character varying,
    sensor_location character varying(20) DEFAULT 'unknown'::character varying
);


ALTER TABLE public.log_data OWNER TO postgres;

--
-- Name: store_001; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.store_001 (
    id integer NOT NULL,
    user_id integer,
    username character varying(100) NOT NULL,
    finger_template_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.store_001 OWNER TO postgres;

--
-- Name: fingerprint_logs; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.fingerprint_logs AS
 SELECT ld.id,
    ld.user_id,
    ld.store_id,
    ld."timestamp",
    ld.finger_template_id,
    ld.device_id,
    ld.sensor_location,
    s.username,
        CASE
            WHEN (ld.user_id IS NULL) THEN 'Unknown User'::character varying
            ELSE s.username
        END AS display_name,
        CASE
            WHEN ((ld.device_id)::text = 'AS608_001'::text) THEN 'Pintu Masuk'::character varying
            WHEN ((ld.device_id)::text = 'AS608_002'::text) THEN 'Pintu Keluar'::character varying
            ELSE COALESCE(ld.sensor_location, 'Unknown'::character varying)
        END AS location_display
   FROM (public.log_data ld
     LEFT JOIN public.store_001 s ON ((ld.user_id = s.user_id)))
  ORDER BY ld."timestamp" DESC;


ALTER TABLE public.fingerprint_logs OWNER TO postgres;

--
-- Name: log_action_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.log_action_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.log_action_id_seq OWNER TO postgres;

--
-- Name: log_action_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.log_action_id_seq OWNED BY public.log_action.id;


--
-- Name: log_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.log_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.log_data_id_seq OWNER TO postgres;

--
-- Name: log_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.log_data_id_seq OWNED BY public.log_data.id;


--
-- Name: store_001_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.store_001_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.store_001_id_seq OWNER TO postgres;

--
-- Name: store_001_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.store_001_id_seq OWNED BY public.store_001.id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    id integer NOT NULL,
    user_id integer,
    session_token character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone NOT NULL,
    ip_address inet,
    user_agent text,
    is_active boolean DEFAULT true
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_sessions_id_seq OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: web_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.web_users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(100),
    email character varying(100),
    role character varying(20) DEFAULT 'admin'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    login_attempts integer DEFAULT 0,
    locked_until timestamp without time zone
);


ALTER TABLE public.web_users OWNER TO postgres;

--
-- Name: web_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.web_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.web_users_id_seq OWNER TO postgres;

--
-- Name: web_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.web_users_id_seq OWNED BY public.web_users.id;


--
-- Name: attendance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance ALTER COLUMN id SET DEFAULT nextval('public.attendance_id_seq'::regclass);


--
-- Name: log_action id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_action ALTER COLUMN id SET DEFAULT nextval('public.log_action_id_seq'::regclass);


--
-- Name: log_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_data ALTER COLUMN id SET DEFAULT nextval('public.log_data_id_seq'::regclass);


--
-- Name: store_001 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_001 ALTER COLUMN id SET DEFAULT nextval('public.store_001_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Name: web_users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_users ALTER COLUMN id SET DEFAULT nextval('public.web_users_id_seq'::regclass);


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance (id, user_id, username, attendance_date, clock_in, clock_out, first_granted, last_granted, total_granted, device_id_in, device_id_out, sensor_location_in, sensor_location_out, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: log_action; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: log_data; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: store_001; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: web_users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_id_seq', 1, false);


--
-- Name: log_action_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.log_action_id_seq', 158, true);


--
-- Name: log_data_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.log_data_id_seq', 124, true);


--
-- Name: store_001_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.store_001_id_seq', 66, true);


--
-- Name: user_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_sessions_id_seq', 12, true);


--
-- Name: web_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.web_users_id_seq', 17, true);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: attendance attendance_user_id_attendance_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_user_id_attendance_date_key UNIQUE (user_id, attendance_date);


--
-- Name: log_action log_action_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_action
    ADD CONSTRAINT log_action_pkey PRIMARY KEY (id);


--
-- Name: log_data log_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_data
    ADD CONSTRAINT log_data_pkey PRIMARY KEY (id);


--
-- Name: store_001 store_001_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_001
    ADD CONSTRAINT store_001_pkey PRIMARY KEY (id);


--
-- Name: store_001 store_001_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.store_001
    ADD CONSTRAINT store_001_user_id_key UNIQUE (user_id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_session_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_session_token_key UNIQUE (session_token);


--
-- Name: web_users web_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_users
    ADD CONSTRAINT web_users_pkey PRIMARY KEY (id);


--
-- Name: web_users web_users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.web_users
    ADD CONSTRAINT web_users_username_key UNIQUE (username);


--
-- Name: idx_attendance_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_date ON public.attendance USING btree (attendance_date);


--
-- Name: idx_attendance_user_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_user_date ON public.attendance USING btree (user_id, attendance_date);


--
-- Name: idx_attendance_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_user_id ON public.attendance USING btree (user_id);


--
-- Name: idx_log_action_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_action_device_id ON public.log_action USING btree (device_id);


--
-- Name: idx_log_action_sensor_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_action_sensor_location ON public.log_action USING btree (sensor_location);


--
-- Name: idx_log_action_store_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_action_store_id ON public.log_action USING btree (store_id);


--
-- Name: idx_log_action_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_action_timestamp ON public.log_action USING btree ("timestamp");


--
-- Name: idx_log_action_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_action_user_id ON public.log_action USING btree (user_id);


--
-- Name: idx_log_data_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_data_device_id ON public.log_data USING btree (device_id);


--
-- Name: idx_log_data_sensor_location; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_data_sensor_location ON public.log_data USING btree (sensor_location);


--
-- Name: idx_log_data_store_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_data_store_id ON public.log_data USING btree (store_id);


--
-- Name: idx_log_data_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_data_timestamp ON public.log_data USING btree ("timestamp");


--
-- Name: idx_log_data_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_data_user_id ON public.log_data USING btree (user_id);


--
-- Name: idx_store_001_finger_template_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_store_001_finger_template_id ON public.store_001 USING btree (finger_template_id);


--
-- Name: idx_store_001_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_store_001_user_id ON public.store_001 USING btree (user_id);


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.web_users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 2pK1mdf9YLEwNUR4S7Hxibc5LRbJwjJmb4p21yB5SKh8K9uRkjcN4QiS0jtThRd

