# Server Environment Configuration
# Copy this file to .env and modify the values

# MQTT Configuration
MQTT_BROKER=103.87.67.139
MQTT_PORT=1883
SCAN_TOPIC=WHAC/Store001/in
ACTION_TOPIC=WHAC/Store001/action
STATUS_TOPIC=WHAC/Store001/status

# Database Configuration
DB_HOST=postgres
DB_NAME=whac_master
DB_USER=postgres
DB_PASSWORD=Admin123
DB_PORT=5432

